<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Login de Usuário</title>
	</head>
	<body>
		<div class="container">
			<br><br>
			<div class="card" >
				<div class="card-header">
					<center><p class="login-box-msg">Acesso ao Sistema</p></center>
				</div>
				<form th:action="@{/login}" method="post">
					<div class="card-body justify-content-center">
						<div class="row">
							<div class="col-8">
								<div class="alert alert-error" th:if="${param.error}">Login ou senha inválido.</div>
							</div>
						</div>
						<div class="row">
							<div class="col-7">
								<div class="input-group">
									Login:&nbsp;&nbsp; <input type="text" class="form-control" id="username" name="username" placeholder="Informe seu login" />
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-7">
								<div class="input-group">
									Senha:&nbsp; <input type="password" class="form-control" id="password" name="password" placeholder="Informe sua senha" />
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-5">
								<a th:href="@{/esqueciSenha}">Esqueci a senha</a>
							</div>
							<div class="col-5">
								<a th:href="@{/novoUsuario}">Novo Usuário</a>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-9">
								<div class="input-group">
									<input type="submit" class="btn btn-primary col-sm-9" value="Acessar">
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>